@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic|Rufina);iframe,img{max-width:100%}a{cursor:pointer!important}html{font-size:12px;line-height:1.3;font-family:Lato,sans-serif}@media (min-width:800px){html{font-size:14px}}@media (min-width:1200px){html{font-size:16px;line-height:1.4}}h1,h2,h3,h4,h5,h6{font-family:Rufina,serif;color:#333;letter-spacing:.05em;line-height:1.3}h1.blue,h2.blue,h3.blue,h4.blue,h5.blue,h6.blue{color:#b7d7ca}h1{font-size:2.625rem}h2{font-size:2rem}h3{font-size:1.75rem}h4{font-size:1.5rem}h5{font-size:1rem}h6{font-size:.75rem}a,p{font-family:Lato,sans-serif;font-size:1rem;font-weight:300;letter-spacing:.05em;line-height:1.5}p.m-w-700{max-width:700px;margin:auto}
/*# sourceMappingURL=app.css.map */
