/*========== Social Colors ==========*/
$facebook:		#3b5998;
$twitter:		#00aced;
$gplus:			#dd4b39;
$linkedin:		#007bb6;
$instagram:		#517fa4;
$skype:			#00aff0;

/*========== Font Colors ==========*/
$dark-gray:		#333;
$gray:			#555;
$light-gray:	#777;
$white:			#FFF;

/*========== UI Colors ==========*/
$blue: 			#b7d7ca;
$orange:		#fac7af;
$pink:			#fac7af;
$yellow:		#f5f3b3;
$brown:			#c7bea6;

$darker-blue: 		#a5c2b6;
$darker-orange:		#e1b39e;
$darker-pink:		#e5cac8;
$darker-yellow:		#dddba1;
