/*========== Imports ==========*/
@import "colors";

/*========== Fonts ==========*/

@font-face {
  font-family: 'GFR';
  src: url(../fonts/gfr.otf);
}

/*========== Google Fonts ==========*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic|Rufina);

/*========== Fonts Variables ==========*/
$lato:			Lato, sans-serif;
$rufina:    Rufina, serif;
$gfr:		    GFR, serif;

/*========== Typography ==========*/

html {
  font-size: 12px;
  line-height: 1.3;
  font-family: $lato;

  @media (min-width: 800px) {
    font-size: 14px;
  }

  @media (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.4;
  }
}

h1,h2,h3,h4,h5,h6{
	font-family: $rufina;
	color: $dark-gray;
	letter-spacing: 0.05em;
  line-height: 1.3;
    &.blue{
      color: $blue;
    }
}

h1{ font-size: 2.625rem	}
h2{ font-size: 2rem	}
h3{ font-size: 1.75rem 	}
h4{ font-size: 1.5rem	}
h5{ font-size: 1rem		}
h6{ font-size: 0.75rem	}

p, a{
  font-family: $lato;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

p{
  &.m-w-700{
    max-width: 700px;
    margin: auto;
  }
}




