/*========== Imports ==========*/
@import "../base/app";

/*========== Footer ==========*/
footer{
	background: $dark-gray;
	text-align: center;

	.line-divider{
		margin: 20px auto 10px;
	}

	h5,a{
		color: $white;
	}

	a{
		font-weight: 300;
		font-size: 0.8em;
		letter-spacing: 0.05em;
	}

	ul{
		padding: 0;
		li{
			padding: 5px 0;
		}
	}
}

.copyright{
	background: #222;
	padding: 20px 0 10px;
	p{
		letter-spacing: 0.2em;
		color: $white;
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 0.6em;
	}
}



/*========== iFrame ==========*/
iframe{
	max-width: 100%;
}

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		footer{
			text-align: left;
				span.line-divider{
					margin: 20px 0 10px;
				}
		}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }