/*========== Imports ==========*/
@import "../base/app";

/*========== Header ==========*/
header{
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

.logo-container{
	display: none;
}

nav{
	&.navbar{
		margin-bottom: 0;
		.navbar-toggle {
		  border: none;
		  background: transparent !important;
		  
		  &:hover {
		    background: transparent !important;
		  }

		  .icon-bar {
		    width: 22px;
		    transition: all 0.2s;
		  }
		  .top-bar {
		    transform: rotate(45deg);
		    transform-origin: 10% 10%;
		  }
		  .middle-bar {
		    opacity: 0;
		  }
		  .bottom-bar {
		    transform: rotate(-45deg);
		    transform-origin: 10% 90%;
		  }

		  &.collapsed {
		    .top-bar {
		      transform: rotate(0);      
		    }
		    .middle-bar {
		      opacity: 1;
		    }
		    .bottom-bar {
		      transform: rotate(0);
		    }
		  }
		}
	}
	&.navbar-default{
		background: transparent;
		border: none;
		a.navbar-brand{
			padding: 11px;
			img{
				width: 40px;
			}
		}
		ul.navbar-nav{
			float: none;
		    max-width: 735px;
		    margin: 0 auto;
			li{
				a{
					text-transform: uppercase;
					&:hover{
						font-weight: 700;
					}
				}
				&.current-menu-item{
					a{
						background: transparent;
						color: $dark-gray;
						font-weight: 700;
						&:hover{
							background: transparent;
						}
					}
				}
				a{
					font-size: 0.7rem;
				}
			}
		}
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.navbar-brand{
		display: none;
	}
	.logo-container{
		display: block;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}