/*========== Imports ==========*/
@import "../base/app";

.btn-gfr-default{
	display: block;
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
        
    	&.dark-gray{
			background: $dark-gray;
			color: $white;
    	}
        &.blue{
            background: $blue;
            color: $white;
                &:hover,
                &:active{
                    background: $darker-blue;
                    color: $white;
                }
        }
    	&.yellow{
			background: $yellow;
			color: $gray;
                &:hover,
                &:active{
                    background: $darker-yellow;
                    color: $dark-gray;
                }
    	}
        &.square{
            border-radius: 0;
        }
    	&.ghost{
			border: 1px solid $white; 
			color: $white;
    	}
        &.md{
            padding: 15px 0px;
            max-width: 250px;
        }
        &.sm{
            padding: 10px 20px;
            max-width: 200px;
            &.center{
                margin: auto;
            }
        }
    	&.xs{
            font-size: 0.6rem;
    		padding: 5px 10px;
    		max-width: 100px;
            
            &.center{
                margin: auto;
            }

            &.xs-rent{
                &:hover,
                &:active{
                    background: $yellow;
                    color: $dark-gray;
                }
            }
    	}
        &:hover,
        &:active,
        &:visited,
        &:focus{
            text-decoration: none;
        }
        &.search{
            border-radius: 50px;
            height: 35px;
            width: 35px;
            background: $dark-gray;
            color: $white;
            border: none;
            padding: 0;
                &:hover,
                &:active{
                    background: $yellow;
                    color: $dark-gray;
                }
        }
}