/*========== Imports ==========*/
@import "../base/app";

.line-divider{
	display: block;
	width: 40px;
	height: 1px;
	background: $dark-gray;
	&.white{
		background:$white;
	}
}

.line-divider-decorative{
	display: block;
	margin: 30px auto;
	img{
		max-width: 75px;
		margin: auto;
	}
}