/*========== Imports ==========*/
@import "../base/app";

article.newsletter-section{
	padding: 50px 2px;
	background: $blue;

	input{
	    width: 100%;
	    padding: 20px;
	    border-radius: 50px;
	    border: none;
	}
}
