/*========== Imports ==========*/
@import "../base/app";

.placeholder {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 1s linear;
  }
  img.loaded {
    opacity: 1;
  }
  img.hidden{
    display: none !important;
  }
}

.img-small {
  filter: blur(50px);
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}