/*========== Imports ==========*/
@import "../base/app";

article.single-content-section{
	&.why-rent-a-gown-section{
		background: url('../../img/bg-why-rent-a-gown.jpg');
		background-size: cover;
	}
}