/*========== Imports ==========*/
@import "../base/app";

/*========== Social Accounts ==========*/
ul.social-accounts{
	padding: 0;
	li{
		display: inline-block;
		padding-right: 1px;
		a{
			text-align: center;
			font-size: 1em;
			color: $white;
			i{
				background: $light-gray;
				width: 30px;
				height: 30px;
				border-radius: 100%;
				line-height: 2;
				&.fa-facebook{
					background: $facebook;
				}
				&.fa-twitter{
					background: $twitter;
				}
				&.fa-google-plus{
					background: $gplus;
				}
				&.fa-linkedin{
					background: $linkedin;
				}
				&.fa-instagram{
					background: $instagram;
				}
				&.fa-skype{
					background: $skype;
				}
			}
		}
	}
}