/*========== Imports ==========*/
@import "../base/app";

article.banner-content-section{
	&.inner{
		.banner-item{
			height: 300px;
			position: relative;
			.mask-overlay{
				background: rgba(0,0,0,0.1)
			}
		}
	}
}

article.letter-for-clients-section{
	h4{
		max-width: 	700px;
		margin: auto;
	}
}

article.become-a-partner-section{
	background: $yellow;
}

article.our-team{
	background: $yellow;
    padding: 50px 0;
	p{
		max-width: 700px;
		margin: 20px auto 30px;
	}
	ul.social-accounts{
		max-width: 210px;
		margin: auto;
	}
	.employee-wrapper{
		text-align: center;
		margin-bottom: 30px;
		.employee-details{
			p{
				max-width: 400px;
				margin: 0 auto 20px;
			}
		}
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.navbar-brand{
		display: none;
	}
	.logo-container{
		display: block;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}