/*========== Imports ==========*/
@import "../base/app";

section.blog{
	article.blog-section{
		.sidebar-wrapper{
			ul.blog-archive{
				list-style: none;
				li{
					margin-bottom: 10px;
					a{
						text-transform: uppercase;
						color: $light-gray;
						font-size: 0.7rem;
						letter-spacing: 0.1em;

						&:hover,
						&:active,
						&:focus,{
							text-decoration: none;
							font-weight: 700;
							color: $dark-gray;
						}
					}
				}
			}
		}
	}
}