/*========== Imports ==========*/
@import "../base/app";

section.collections-inner-page{
	article.product-section{
		.product-item-image{
			.owl-theme .owl-controls {
				display: none !important;
			}
			#sync2{
				position: absolute;
			    bottom: 20px;
			    left: 20px;
		    	.owl-item{
    			    margin-right: 5px;
				    border: 1px solid $white;
		    		opacity: 0.5;
			    	&.synced{
			    		opacity: 1;
			    	}
		    	}
			}
		}
		.breadcrumb-wrapper{
			p{
				font-size: 0.75rem;
			}
		}
		.product-item-details{
			padding: 10px 0 50px;
			a, p{
				font-size: 0.75rem;
			}
			span.line-divider{
				width: 70px;
				background: $light-gray;
			} 
			.panel.panel-default{
				border: none;
			    border-bottom: 1px solid #eee;
			    border-radius: 0;
			    box-shadow: none;
			    .panel-heading{
			    	background: transparent;
			    	padding-left: 0;
			    	a{
			    		font-family: $rufina;
			    		color: $light-gray;
			    		font-style: italic !important;
			    		text-decoration: none;
			    		&:hover, &:visited, &:active{
			    			color: $dark-gray;
			    		}
			    	}
			    }
			    .panel-collapse{
			    	.panel-body{
			    		font-size: 0.85rem;
			    		padding-left: 0;
			    	}
			    }
			}
		}
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	article.product-section{
		.product-item-details{
			padding: 0 !important;
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}