/*========== Imports ==========*/
@import "../base/app";

body.collections{
	.sidebar-collection{
		input{
			border-radius: 50px;
		    border: 1px solid #ddd;
		    padding: 5px 10px;
		    width: 100%;
    	    &:focus{
		    	outline: none;
		    }
		}
		padding: 30px;
		li{
			list-style: none;
		}
		ul{
			list-style: none;
			padding: 0;
			margin-bottom: 30px;
			&.children{
				padding: 5px 20px;
			}
			li{
				margin-bottom: 5px;
				&.current-cat{
					a{
						color: $dark-gray;
						font-weight: 700;
						text-decoration: none;
					}
				}
				a{
					font-size: 0.70rem;
					color: $light-gray;
					&:hover{
						color: $dark-gray;
						font-weight: 700;
						text-decoration: none;
					}
				}
			}
		}
	}
	article.collection-section{
		border-top: 1px solid #eee;
		.collection-wrapper{
			.toggle-button{
				text-decoration: none;
				margin-bottom: 30px;
			}
			padding-top: 20px;
			p.results{
				font-size: 0.55rem;
				margin: 0 0 20px !important;
			}
			article.collection-items-section{
				.grid-item-description{
					padding: 10px 0 !important;
					p.categories{
						font-size: 0.55rem;
					}
				}
			}
		}
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.collection-wrapper{
		padding: 50px !important;

	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.sidebar-collection{
		padding: 50px 10px 0 !important;
	}
	.grid-item-image{
		height: 21.5vw !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.collection-wrapper{
		border-left: 1px solid #eee;
		padding: 50px !important;
	    min-height: 800px !important;
	}
	.toggle-button{
		display: none;
	}
	nav#menu{
		display: none;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
