/*========== Imports ==========*/
@import "../base/app";

article.contact-us,{
	ul{
		margin-top: 30px;	
		list-style: none;
		padding: 0;
		li{
			margin-top: 10px;
			i{
				margin-right: 30px;
				font-size: 1.7rem;
				&.fa.fa-mobile{
				    margin-left: 6px;
				}
			}
			a, p{
			    display: inline-block;
				color: $dark-gray;
				font-size: 0.85rem;
			}
		}
	}
	input, textarea{
	    width: 100%;
	    padding: 20px 0;
	    border: none;
	    border-bottom: 1px solid #ccc;
	    margin-bottom: 10px;
	    &:focus{
	    	outline: none;
	    }
	}
	h2{
	    font-size: 5rem;
	    margin: -15px;
	    color: #f5f3b3;
	}
	h3{
		margin-left: 30px;
	}
}