/*========== Imports ==========*/
@import "../base/app";

article.form-content-section{
	.product-details-wrapper{
	    background: #f7f7f7;
	    padding: 25px;
	}
	padding: 75px 0;
	h5{
		margin-bottom: 5px;
	}
	p.instruction{
		font-size: 0.6rem
	}
	.input-group{
		width: 100%;
		input{
			border-radius: 0;
		}
	}
	input, textarea{
	    width: 100%;
	    margin-bottom: 40px;
	    border: none;
	    border-bottom: 1px solid #ccc;
	    &:focus{
	    	outline: none;
	    }
	}
}

.datepicker,
.bootstrap-datetimepicker-widget{
    padding: 10px;

    td, th{
    	padding: 5px !important;
    	font-size: 1rem;
    }

    td{
    	font-size: 0.7rem;
    }
    li.picker-switch.accordion-toggle{
    	table{
    		width: 100%;
    		td{
    			text-align: center;
    		}
    	}
    }
    li.collapse{
    	table.table-condensed{
			margin: auto;
    	}
    	td{
    		text-align: center;
    	}
    }
}