/*========== Imports ==========*/
@import "../base/app";

article.banner-content-section{
	.banner-item{
		display: table;
		width: 100%;
		height: 35vw;
		.mask-overlay{
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.5);
		}
		.banner-captions{
			display: table-cell;
			vertical-align: middle;
			color: $white;
			p{
				font-size: 1.5rem;
				letter-spacing: 0.1rem;
			}
			h2{
				font-size: 5rem;
				color: #fff;
				margin-top: -15px;
				line-height: 1;
			}
			a.btn-gfr-default{
				margin-left: 0;
			}
		}
	}
	.owl-theme .owl-controls {
		margin-top: -27px;
		text-align: center;
		.owl-page{
			span{
				background: $white;
			}
			&.active{
				span{
					opacity: 0.2;
				}
			}
		}
	}
}

article.split-section{
	.container-fluid{
		padding: 0;
		.col-sm-6{
			padding: 70px;
			&.blue{
				background: #f6f6f6;
			}
			&.yellow{
				background: #f6f6f6;
			}
			.btn-gfr-default{
				margin: auto;
			}
		}
	}
}

article.grid-content-section{
	p{
		max-width: 700px;
		margin: auto;
	}
	a{
		text-decoration: none;
		color: inherit;
	}
	.grid-item-container{
		width: 100%;
		margin-bottom: 20px;
		display: table;
		p{
			font-size: 0.85rem;
		}
		.grid-item-lg{
			height: 640px;
			display: table-cell;
			vertical-align: bottom;
		}
		.grid-item-md{
			height: 350px;
			display: table-cell;
			vertical-align: bottom;
		}
		.grid-item-sm{
			display: table-cell;
			vertical-align: middle;
			height: 310px;
			&.with-bg{
				.grid-item-description{
					p, h4{
						color: $white;
					}
				}
			}
		}
		.grid-item-description{
			padding: 20px;
		}
	}
}

article.featured-collection{
	.line-divider{
		margin: 20px auto;
	}
	.grid-item-container{
		padding: 10px;
		.grid-item-description{
			p.price{
		    font-size: .85rem;
				padding-bottom: 10px;
			}
		}
	}
}

article.single-content-section{
	p{
		max-width: 700px;
		margin: auto;
	}
	&.gfr-section{
		background: #f6f6f6;
		display: none;
	}
	&.why-rent-a-gown-section{
		background: url('../img/bg-why-rent-a-gown.jpg');
		background-size: cover;
	}
}

article.month-favorite-section{
	.monthly-greetings{
		font-family: $gfr;
		font-size: 5em;
		color: $gray;
		line-height: 1;
		span{
			color: $brown;
		}
	}
	.grid-item-container{
		.grid-item-sm{
			vertical-align: bottom;
		}
		.grid-item-description{
			padding-left: 0px;
			p.price{
				background: $yellow;
				font-size: 1.2em;
				font-family: $rufina;
				max-width: 160px;
				margin: 0;
				padding: 10px;
			}
		}
	}
}

article.how-to-rent-section{
	.line-divider{
		margin: 30px auto 30px;
		width: 40px;
	}
	.placeholder{
		width: 350px;
		margin: auto;
	}
	.number{
		font-size: 5em;
		margin: -20px 0 10px 5px;
	}
}

article.collections-section{
	display: none;
}

article.testimonials-section{
	padding: 100px 0;
	background: $orange;
	.placeholder{
		margin: auto;
		width: 200px;
	}
	.btn-gfr-default{
		margin: auto;
	}
}
