/*========== Imports ==========*/
@import "../base/app";

section.lookbook{
	article.lookbook-section{
		margin: 150px 0 !important;
		p{
			color: $dark-gray;
			max-width: 700px;
			margin: auto;
			font-size: 1.5rem;

			i{
				font-size: 10rem;
			}
		}
		.video-wrapper{
			.video-details{
				p.description{
					max-width: 400px;
					margin: 0 auto 20px;
				}
			}
		}
	}
}

article.become-a-partner-section{
	h2{
		text-align: center;
	}
	span.line-divider{
		margin: auto;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	article.lookbook-section{
		.video-wrapper{
			margin-bottom: 30px;
			.video-details{
				p.description{
					text-align: left !important;
				}
			}
		}
	}
	article.become-a-partner-section{
		h2{
			text-align: left;
		}
		span.line-divider{
			margin-left: 0;
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}