/*========== Imports ==========*/
@import "../base/app";

section.testimonials{
	article.testimonials{
		.wmle_container .wmle_item{
			margin: 10px !important;
			padding: 0 !important;
			border: none !important;
			.wmle_post_meta{
				display: none !important;
			}
			.wmle_post_title,
			.wmle_post_excerpt{
			    text-align: center;
			}
			.wmle_post_title a {
			    font-weight: 900 !important;
			    color: #333 !important;
			}
			.wpme_image a,
			.wmle_post_title a{
			    pointer-events: none;
			}
			.wmle_post_title,
			.wmle_post_excerpt p{
				padding: 15px;
			}
			.wmle_post_excerpt{
				padding: 0;
			}

		}
	}
}